body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}


.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  margin-left: 1.25rem;
}

.btn-toggle-nav i {
  margin-right: 0.5rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.sidebar {
  margin-left: -200px;
  transition: 0.5s;

  position: fixed;
  top: 0;
  height: 100%;
}

.sidebar-header {
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.btn-nav-accordion[aria-expanded="true"] .fa-chevron-right {
  transform: rotate(90deg);
}

.fa-chevron-right {
  transition: all 0.3s ease;
}


/*------------------------------------------------------*/
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

.container-active-nav {
  margin-left: 200px;
}

.width-100 {
  width: 100% !important;
  transition: 0.5s;
}

.navbar-header > header {
  padding: 0.9rem 10px !important;
}
  